body {
  margin: 0;
  padding: 0;
  background-color: #edefec;
}

h1 {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#root {
  font-family: 'Roboto', sans-serif;
  color: #100c08;
  padding-top: 20px;
}

.container {
  width: 60%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chat__header {
  text-align: center;
  margin-bottom: 10px;
  color: #100c08;
}

.chat__connect {
  width: 150px;
  margin-left: auto;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #dee2e1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 40px;
  cursor: pointer;
}

.chat__container {
  width: 90%;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e2e5e9;
  border-radius: 8px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.chat__area {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;

}

.chat__messages-container {
  flex: 0 0 90%;
  border-top-left-radius: 7px;
  overflow-y: auto;
  padding: 5px;
  box-sizing: border-box;
}

.chat__messages-input {
  flex: 0 0 10%;
  border-bottom-left-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.form .form__group {
  margin-bottom: 0;
}

.form .form__input {
  margin-top: 8px;
  border-color: #e2e5e9;
}

.chat__userlist {
  flex: 0 0 30%;
  background-color: #edefec;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.chat__user {
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #e0e6da;
}

.message__container {
  width: 50%;
  margin-bottom: 10px;

}

.message__header {
  font-size: 14px;
}

.message__container-yourself {
  margin-left: auto;
  text-align: right;
}

.message__container-yourself .message__header {
  color: #20b1df;
}


.message__container-interlocutor {
  margin-right: auto;
  text-align: left;
}
